.container {
  align-items: center;
  width: 350px;
  margin: 0 auto 50px;
  background-color: #fff;
  border: 1px solid rgb(228, 221, 221);
  border-radius: 5px;
  box-shadow: 11px 13px 10px rgba(172, 255, 255, 1);
}

.section {
  text-align: center;
  padding: 20px 0;
}

.avatar {
  border: 1px solid rgb(228, 221, 221);
  border-radius: 50%;
  background-color: rgb(202, 202, 202);
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.tager {
  font-size: 16px;
  line-height: 1.333;
  margin-bottom: 10px;
}

.location {
  font-size: 20px;
  line-height: 1.52;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(200, 218, 235);
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(153, 153, 153);
  width: 100%;
  padding: 15px 0;
}

.rating {
  font-size: 16px;
  line-height: 1.333;
}

.grade {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.333;
}
